
  <!-- Start Overlay -->
<div id="overlay" onmousedown="toggleOverlay()"></div>
<!-- End Overlay -->
<!-- Start Special Centered Box -->
<div id="boxContainer">
  <div id="specialBox">
    <iframe width="853" height="480" src="//www.youtube.com/embed/AplJShjRi2E?enablejsapi=1" frameborder="0" allowfullscreen></iframe>
  </div>
</div>
<!-- end Special Centered Box -->


  <!-- body content here -->




  <!-- HEADER STARTS HERE -->
  <div id="headerImage">
    <div class="row" id="headerContentsContainer">
      <div class="large-6 columns" id="headerTextContainer">
        <div class="row">
          
          <img class="large-12 columns" src="img/largerConTextualLogo.png"></img>
          <div id="ConTextualTagLine">
            Re-Imagining Mobile Brand Engagement
          </div>
        
        </div>
        <div class="row">
          
          <div style="width:60%; margin-top:90px; margin-right:20%; margin-left:20%;">
            <a href="/signup" class="button expand" >SIGN ME UP</a>
            <p style="text-align:center;"><a style="color:#ff9900; text-decoration:underline; font-size: 32px;" onClick="toggleOverlay()">Watch a demo</a></p>
          </div>
        
        </div>
        
      
      </div>
      <div class="large-6 columns " id="headerHandContainer">
        <img src="img/handConTextualPrototype.png" >
      </div>
    </div>
  </div>
  <!-- HEADER ENDS HERE -->

  <!-- ######################## Section ######################## -->
     
   <section class="section_main tallPadding" id="ourAim">
   
        <div class="row">
        
         <div class="large-6 columns">
            <img src="/img/keyboard.png" style="box-shadow: 0px 0px 30px #777; width: 100%;">
         </div>
         
      
          <div class="large-6 columns ConTextualDarkImportantContent" >
            <span style="color:#ff9900; font-weight:bold;">Our aim</span> is to provide <span style="color:#ff9900;">useful</span> advertisements to users when they <span style="color:#ff9900;">need them most</span> and in the most <span style="color:#ff9900;">convienient</span> area, right in the <span style="color:#ff9900;">autosuggestions</span>.
          </div>
          
          
    
        
        </div>
        
    </section>

<!-- ######################## end Section ######################## -->
<!-- ######################## Section ######################## -->

<section class="section_dark tallPadding" id="columnPoints">
   
        <div class="row">
        
         <div class="large-4 columns">
            <img src="/img/orangeImageContext.png" >
            <h3>My Con<span style="color:#ff9900;">Text</span></h3>
            <p>We use information like your location, the time and what you are talking about to serve relevant ads.</p>
         </div>
         
      
          <div class="large-4 columns">
            <img src="/img/guyMindful.png" >
            <h3>Mindfulness</h3>
            <p> Added brand awareness comes from the mindfulness of the user at the time they see the ad.</p>
          </div>
          
          
          <div class="large-4 columns">
            <img src="/img/orangeImageMonitise.png" >
            <h3>Monetize</h3>
            <p>We have designed it so that developers can plug this into their apps and begin monitizing in an unobtrusive way easily.</p>
          </div>
        
        </div>
        
    </section>

<!-- ######################## end Section ######################## -->
<!-- ######################## Section ######################## -->

    <section class="tallPadding section_light ">
   
        <div class="row">
        
         <div class="large-4 columns ConTextualDarkImportantContent">
            We at ConTextual would love the opportunity to help you developers monetize your apps.
         </div>
         
      
          <div class="large-8 columns">
             <div style="width:60%; margin-top:20px; margin-right:20%; margin-left:20%;">
              <h1>So sign up today</h1>
              <a href="/signup" class="button expand">I'M IN, SIGN ME UP</a>
            </div>
          </div>
        
        </div>
        
    </section>

<!-- ######################## end Section ######################## -->    

